/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #C1B7A2;
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

header {
    color: rgb();
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

img.zweefRechts{
    float: right;
    margin-left: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(0, 0, 50);
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.inactive {
  color: black;
  text-decoration: none;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #BFAD9D;
}

nav li a.active {
    background-color: #BFAD9D;
}


/* goden */
#Odin {
  height: 41%;
}

#Frigg{
  height: 40%;
}

#Thor{
  height: 43%;
}
#Loki{
  height: 47%;
}

#Hod {
  height: 47%;
}


.godentext {
  float: left;
  width: 400px;
  height: 400px;
  position: relative;
  bottom: 20px;
}
